NEXT_PUBLIC_SUPABASE_URL=https://mvfahuhlceehwgoemarl.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_cAte9btEKYF8H-padPzdLA_yFnYcC8a
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im12ZmFodWhsY2VlaHdnb2VtYXJsIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc5MDk1ODU5OSwiZXhwIjoyMTA2NTM0NTk5fQ.CvLx_aIQ3OPuMAogSOs4Q0aCKue1wobpP-8KpTSspss
