NEXT_PUBLIC_SUPABASE_URL=https://mvfahuhlceehwgoemarl.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_cAte9btEKYF8H-padPzdLA_yFnYcC8a
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im12ZmFodWhsY2VlaHdnb2VtYXJsIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc5MDk1ODU5OSwiZXhwIjoyMTA2NTM0NTk5fQ.CvLx_aIQ3OPuMAogSOs4Q0aCKue1wobpP-8KpTSspss
# Google Sheets sync (see SHEETS_SETUP.md)
GOOGLE_SHEET_WEBHOOK_URL=https://script.google.com/macros/s/AKfycbwuQbsjs5g10h8wAuKCV0JJ4AVIBAWTV83jPLx1Yl5dO_Yabi37OycYyUcI2xNP7yxr/exec
GOOGLE_SHEET_SECRET=Buypartite102026
SHEETS_WEBHOOK_SECRET=Buypartite102026V2
